* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --second-primary-color: #e2eddf;
    --third-primary-color: #152427;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;
    display: inline-block;
    min-width: 173px;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    height: var(--height);
    line-height: var(--height);
    border-radius: 40px;
    border: 1.5px solid var(--primary-color);
    background: var(--primary-color);
    transition: 0.25s;
}

.btn:hover {
    color: var(--primary-color);
    background: var(--second-primary-color);
}

/* Header */
.header {
    margin: 28px 0 13px;
    font-family: "Public Sans", sans-serif;
}

.header.header-fixed {
    position: sticky;
    top: 13px;
    z-index: 1;
}

/* Navbar */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item-link {
    position: relative;
    padding: 4px 19px;
    display: inline-block;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.nav__item-link:hover,
.nav__item-link--active {
    color: var(--third-primary-color);
}

.nav__item-link--active::before {
    display: block;
    position: absolute;
    content: "";
    top: 58px;
    left: 21px;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}

.header__btn {
    margin-left: 69px;
}
