* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --second-primary-color: #e2eddf;
    --primary-color-black: #152427;
    --second-primary-color-black: #143c3c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
