* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --second-primary-color: #e2eddf;
    --third-primary-color: #152427;
    --four-primary-color: #83a17d;
}

html,
body {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

a,
input,
textarea,
select,
button,
article {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
}

.btn {
    --height: 57px;
    display: inline-block;
    min-width: 173px;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    height: var(--height);
    line-height: var(--height);
    border-radius: 40px;
    border: 1.5px solid var(--primary-color);
    background: var(--primary-color);
    transition: 0.25s;
}

.btn:hover {
    color: var(--primary-color);
    background: var(--second-primary-color);
}

.bullet {
    width: 25px;
    height: 1px;
    background: var(--third-primary-color);
}

.bullet--long {
    position: absolute;
    display: block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--third-primary-color);
}

.heading {
    font-size: 4.2rem;
    font-weight: 600;
    color: var(--third-primary-color);
    line-height: 1.24;
}

.title {
    margin-left: 21px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--third-primary-color);
}

.desc {
    color: #7d8188;
    font-weight: 500;
}

/* Header */
.header {
    padding: 28px 0 13px;
    font-family: "Public Sans", sans-serif;
    background: #fff;
}

.header.header-fixed {
    position: sticky;
    top: -15px;
    z-index: 1;
}

/* Navbar */
.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav::before {
    display: block;
    position: absolute;
    content: "";
    bottom: -13px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item-link {
    position: relative;
    padding: 4px 19px;
    display: inline-block;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.nav__item-link:hover,
.nav__item-link--active {
    color: var(--third-primary-color);
}

.nav__item-link--active::before {
    display: block;
    position: absolute;
    content: "";
    top: 58px;
    left: 21px;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}

.header__btn {
    margin-left: 69px;
}

/* Hero */
.hero {
    font-family: "Public Sans", sans-serif;
    padding: 60px 0 165px;
}

.hero__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hero left */
.hero-body {
    width: 35%;
}

.hero__heading {
    max-width: 368px;
    color: var(--third-primary-color);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    max-width: 341px;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero-watch,
.hero-cta {
    display: flex;
    align-items: center;
}

.hero-cta {
    margin-top: 42px;
    column-gap: 43px;
}

.hero-watch__wrap:hover {
    animation: spiner 0.25s linear infinite;
}

.hero-watch__ellipse {
    position: absolute;
    width: 57px;
    height: 59px;
    top: 50%;
    left: -50%;
    transform: translate(0, -50%);
}

.hero-watch__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spiner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.hero-watch__btn {
    position: relative;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    outline: none;
    color: #fff;
    background: var(--four-primary-color);
}

.hero-watch__btn:hover {
    color: var(--primary-color);
    background: #267474;
    opacity: 0.9;
    cursor: pointer;
}

.hero-watch__desc {
    margin-left: 15px;
    color: var(--third-primary-color);
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* Hero right */
.hero__media {
    position: relative;
    width: 57%;
    margin-right: 25px;
}

.hero__img {
    display: flex;
    justify-content: space-between;
}

.hero__thumb {
    display: block;
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__thumb:nth-child(2) {
    transform: translateY(77px);
}

/* Hero decor */
.hero-decor {
    position: absolute;
    display: block;
    content: "";
    top: -32px;
    left: -172px;
}

.hero-decor__img {
    position: absolute;
    content: "";
    display: block;
    top: 8px;
    left: -42px;
    z-index: 1;
}

.hero-decor__line {
    width: 545px;
}

.hero-decor__02 {
    transform: rotate(175.95deg);
    position: absolute;
    display: block;
    content: "";
    top: 240px;
    width: 545px;
    right: 70px;
}

.hero__bg {
    position: absolute;
    top: 122px;
    right: 150px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -10;
}

/* Logo */
.logo-branch {
    margin-top: 42px;
    background: #fff;
}

.logo-branch__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 122px;
    border-radius: 100.5px;
    background: var(--second-primary-color);
}

.logo-branch__item {
    display: flex;
    align-items: center;
}

.logo-branch__name {
    color: var(--primary-color);
    font-weight: 400;
}

/* Logo item 1 */
.logo-branch__item:nth-child(1) .logo-branch__name {
    font-size: 3.1rem;
    font-weight: 500;
}

/* Logo item 2 */
.logo-branch__item:nth-child(2) .logo-branch__name {
    margin-left: 5px;
    font-size: 3.2rem;
    font-weight: 600;
}

/* Logo item 3 */
.logo-branch__item:nth-child(3) .logo-branch__icon {
    width: 33px;
    height: 33px;
}

.logo-branch__item:nth-child(3) .logo-branch__name {
    margin-left: 11px;
    color: #163c35;
    font-size: 2.6rem;
}

/* Logo item 4 */
.logo-branch__item:nth-child(4) .logo-branch__name {
    font-family: "Sonsie One", cursive;
    font-size: 2.3rem;
}

/* Logo item 5 */
.logo-branch__item:nth-child(5) .logo-branch__icon {
    width: 33px;
    height: 33px;
}

.logo-branch__item:nth-child(5) .logo-branch__name {
    margin-left: 10px;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* Service */
.service {
    padding-top: 106px;
    background: #fff;
}

/* Service top */
.service-top {
    position: relative;
}

.service__title {
    line-height: 1.63;
}

.service__heading {
    position: relative;
    margin-top: 12px;
    width: 520px;
}

.service__bullet--long {
    left: 350px;
    bottom: 20px;
}

.service__buttons {
    display: flex;
    column-gap: 17px;
    position: absolute;
    right: 73px;
    bottom: 9px;
}

.service__btn {
    display: block;
    width: 54px;
    height: 54px;
    outline: none;
    border: none;
    border-radius: 50%;
    background: var(--second-primary-color);
    transition: 0.25s;
}

.service__icon {
    color: var(--third-primary-color);
}

.service__btn:hover {
    background: var(--primary-color);
    cursor: pointer;
}

.service__btn:hover .service__icon {
    color: #fff;
}

/* Service body */
.service-body {
    margin-top: 76px;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    border-radius: 20px;
    overflow: hidden;
    transition: 0.25s;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__body {
    border-color: #fff;
}

.service-item:hover .service-item__img {
    transform: scale(1.1);
}

.service-item__image {
    height: 318px;
    overflow: hidden;
}

.service-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.service-item__body {
    padding: 24px 18px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 20px 20px;
    transition: 0.25s;
}

.service-item__heading {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: var(--third-primary-color);
}

.service-item__heading:hover {
    color: #3b7b7b;
}

.service-item__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.71;
}

/* About */
.about {
    padding: 150px 0 170px;
}

.about__wrap {
    display: flex;
}

/* About media */
.about-media {
    position: relative;
    width: 58%;
    display: flex;
    column-gap: 21px;
}

.about__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
    transform: translateY(90px);
}

.about__img:nth-child(2) {
    transform: translateY(13px);
}

/* About decor */
.about-decor {
    position: absolute;
    top: 45px;
    left: 48px;
    transform: rotate(12.645deg);
}

/* About stat */
.about-stat {
    position: absolute;
    bottom: -82px;
    left: 457px;
    width: 144px;
}

.about-stat__content {
    padding: 20px 0 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-stat__wrap {
    padding: 0 22px;
}

.about-stat__heading {
    color: var(--third-primary-color);
    font-family: "Public Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about-stat__total {
    display: block;
    margin-top: 6px;
    color: #575d5e;
    font-family: "Public Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    opacity: 0.4;
}

.about-stat__desc {
    color: var(--third-primary-color);
    font-family: "Public Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-stat__value {
    margin-top: 10px;
}

.about-stat__ratio {
    width: 96px;
    height: 2px;
    margin: 3px 0;
    border-radius: 10px;
    background: #eaeaea;
}

.about-stat__ratio::before {
    display: block;
    content: "";
    width: calc(96px * 40 / 100);
    height: 2px;
    border-radius: 10px;
    background: var(--four-primary-color);
}

.about-stat__load {
    margin-left: auto;
    padding: 0 22px;
}

.about-stat__circle {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 19px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.about-stat__circle::after {
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--primary-color);
}

.about-stat__group {
    margin: 4px 17px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.about-stat__thumb {
    display: flex;
}

.about-stat__avatar {
    margin-left: -4px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #fff;
}

.about-stat__avatar:first-child {
    margin-left: 0;
}

/* About body */
.about-body {
    width: 43%;
}

.about__title {
    line-height: 1.13;
}

.about__heading {
    margin-top: 20px;
    width: 483px;
}

.about__desc {
    margin-top: 11px;
    width: 478px;
    font-size: 1.6rem;
    line-height: 1.63;
}

.about__quantity {
    width: 485px;
    padding: 36px 0 20px;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
    border-bottom: 1px solid var(--four-primary-color);
}

.about__quantity:last-child {
    margin-top: 2px;
}

.about__sub {
    width: 364px;
    font-size: 1.4rem;
    line-height: 1.71;
}
/* Process */
.process {
    margin-bottom: 150px;
}

/* Process top */
.process-top {
    padding-top: 36px;
    position: relative;
}

.process__bullet {
    margin-left: 7px;
}

.process__title {
    line-height: 1.13;
}

.process__heading {
    width: 477px;
}

.process__bullet--long {
    left: 420px;
    bottom: 20px;
}

/* Process content */
.process-content {
    padding-bottom: 150px;
}

.process__list {
    margin-top: 80px;
}

/* Process item */
.process-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 20px 30px;
    height: 175px;
    background: #fff;
    border-bottom: 1px solid var(--four-primary-color);
    transition: ease 0.25s;
}

.process-item:first-child {
    height: 185px;
}

.process-item:hover {
    border-radius: 33px;
    border-color: transparent;
    background: var(--second-primary-color);
}

.process-item:hover .process-item__left {
    transform: translateX(10px);
}

.process-item:hover .process-item__more,
.process-item:hover .process-item__blur {
    display: block;
}

.process-item__left {
    width: 400px;
    display: flex;
    align-items: center;
    transition: transform 0.25s;
}

.process-item-wrap {
    position: relative;
}

.process-item__title {
    margin-left: 64px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process-item__more {
    position: absolute;
    left: 67px;
    padding: 22px 2px;
    color: #575d5e;
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: underline;
    display: none;
}

.process__thumb {
    position: absolute;
    content: "";
    bottom: 0;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process-item__blur {
    position: absolute;
    display: none;
    width: 163px;
    height: 24px;
    right: 320px;
    bottom: 44px;
    background: var(--second-primary-color);
    filter: blur(2px);
}

.process-item__heading {
    color: var(--primary-color);
    font-size: 7.2rem;
    line-height: 0.72;
}
.process-item__desc {
    width: 572px;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

/* Project */
.project {
    overflow: hidden;
    padding: 116px 0 63px;
    background: var(--primary-color);
}

/* Project top */
.project-top {
    justify-content: space-between;
}

.project-left {
    position: relative;
}
.project__heading {
    width: 457px;
    color: #e7f9f9;
}

.project__bullet--long {
    position: absolute;
    bottom: 20px;
    right: 97px;
    background: var(--four-primary-color);
}

.project-right {
    width: 590px;
}

.project__desc {
    color: #6a8383;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    line-height: 1.56;
}

.project__link {
    margin-top: 13px;
    color: #fff;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    line-height: 1.56;
}

.project__link:hover {
    cursor: pointer;
    color: #80a07b;
}

.project__icon {
    margin-left: 26px;
    width: 20px;
    height: 10px;
}

/* Project media */
.project-media {
    position: relative;
    margin-top: 65px;
}

.project__video {
    width: 100%;
    object-fit: cover;
    border-radius: 22px;
    height: 544px;
}

.project__btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 118px;
    height: 118px;
    background: #000000b2;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.project__btn:hover {
    cursor: pointer;
    background: var(--four-primary-color);
}

.project__btn:hover .project__play {
    color: var(--primary-color);
}

.project__play {
    width: 36px;
    height: 36px;
    color: #fff;
    transition: 0.25s;
}

/* Project decor */
.project-decor {
    position: absolute;
    display: block;
    content: "";
    top: -166px;
    right: -50px;
}

.project-decor__img {
    position: absolute;
    top: 90px;
    right: -10px;
    transform: rotate(176.985deg);
}

/* Feature */
.feature {
    padding: 140px 0 64px;
    background: #fff;
}

/* Feature top */
.feature__heading {
    width: 520px;
    margin: auto;
}

.feature__desc {
    margin: 20px auto 0;
    width: 547px;
    font-size: 1.6rem;
    line-height: 1.63;
}

/* Feature content */
.feature-content {
    margin-top: 103px;
}

.feature__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: 0.25s;
}

.feature-item:hover {
    cursor: pointer;
    border-radius: 160px;
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transform: translateY(-60px);
}

.feature-item__icon {
    width: 44px;
    height: 44px;
}

.feature-item__heading {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--third-primary-color);
    line-height: 1;
}

.feature-item__desc {
    margin-top: 12px;
    width: 286px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.71;
}

/* Blog */
.blog {
    padding: 120px 0 102px;
}

/* Blog top */
.blog__title {
    line-height: 1.13;
}

.blog__wrap {
    margin-top: 10px;
    position: relative;
    justify-content: space-between;
}

.blog__heading {
    width: 520px;
}

.blog__bullet--long {
    left: 489px;
    bottom: 20px;
}

.blog__desc {
    width: 409px;
    font-size: 1.6rem;
    line-height: 1.63;
}

/* Blog content */
.blog-content {
    margin-top: 90px;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

/* Blog item */
.blog-item {
    display: block;
    width: 360px;
    border: 1px solid #e8ebee;
    border-radius: 40px 40px 20px 20px;
    overflow: hidden;
    transition: 0.25s;
}

.blog-item:hover {
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item__img {
    height: 317px;
    overflow: hidden;
}

.blog-item__img:hover .blog-item__thumb {
    transform: scale(1.1);
}

.blog-item__thumb {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
    transition: 0.25s;
}

.blog-item__info {
    padding: 26px 30px 12px;
    background: #fff;
    border-radius: 0px 0px 20px 20px;
    transition: 0.25s;
}

.blog-item__btn {
    width: 107px;
    height: 26px;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    outline: none;
    border: none;
    border-radius: 20px;
    background: var(--second-primary-color);
    transition: 0.25s;
}

.blog-item__btn:hover {
    cursor: pointer;
    color: #fff;
    background: var(--primary-color);
}

.blog-item__link:hover .blog-item__heading {
    color: var(--four-primary-color);
}

.blog-item__heading {
    margin-top: 13px;
    height: 90px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog-item__separate {
    display: block;
    margin-top: 9px;
    width: 100%;
    height: 1px;
    background: #c4c4c4;
}

.blog-item__date {
    display: block;
    margin-top: 16px;
    text-align: right;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

/* Footer */
.footer {
    background: var(--primary-color);
    padding-bottom: 20px;
}

.footer-wrap {
    padding: 72px 0 45px;
    align-items: normal;
    justify-content: space-between;
    column-gap: 226px;
}

/* Footer left */
.footer-left {
    width: 37%;
}

.footer-form {
    margin-top: 25px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 354px;
    border-bottom: 1px solid #6a8383;
}

.footer-form__input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
}

.footer__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.5;
}

.footer-form__submit {
    padding: 12px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.footer-form__submit:hover .footer-form__btn {
    color: var(--four-primary-color);
}

.footer-form__btn {
    display: block;
    width: 26px;
    height: 16px;
    color: #fff;
}

.footer-social {
    margin-top: 47px;
    column-gap: 22px;
}

.footer-social__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    color: #fff;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #265252;
    transition: 0.25s;
}

.footer-social__btn:hover {
    background: #a75325;
}

/* Footer right */
.footer-right {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    padding-top: 22px;
}

.footer-item__heading {
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.footer-item__column {
    margin-top: 6px;
}

.footer-item__link {
    display: block;
    color: #6a8383;
    font-family: Public Sans;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
}

.footer-item__link:hover {
    color: var(--four-primary-color);
}

.footer__separate {
    width: 100%;
    height: 1px;
    background: linear-gradient(
        14deg,
        #143c3c 0%,
        #295a5a 53.48%,
        rgba(38, 82, 82, 0) 100%
    );
}

.footer__copyright {
    padding-top: 14px;
    text-align: center;
}
